---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Colors
$dark: #2b343d;
$primary: #c15a5b;
$secondary: #939598;

//Reset
* { margin: 0; padding: 0; box-sizing: border-box; }

// The body inherits it's height from the <html> tag. Push it to a 100% of the
// view screen to have room for the background image cover.
html, body {
    height: 100%;
}

//General
body {
    background-color: $dark;
    background: transparent url('/images/ndk-bw-blur.jpg') top center;
    background-size: cover;
    color: white;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
}

a {
    color: $primary;
}

//Typography
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Futura, 'Trebuchet MS', serif;
    text-transform: uppercase;
    margin-bottom: .5em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.2em; }

p, ul, ol {
    margin-bottom: 1em;
    line-height: 1.6em;
}

ul {
    list-style: inside square;
}

ol {
    list-style: inside decimal;
}

//Layout
.wrapper {
    width: 900px;
    margin: 0 auto;
}

.home {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(43, 52, 61, .6);

    header {
        padding-top: 6em;
        text-align: center;

        .logo {
            -moz-animation: levitate 3s infinite;
            -webkit-animation: levitate 3s infinite;
            animation: levitate 3s infinite;

            a {
                display: block;
                text-decoration: none;
                width: 4em;
                margin: 1em auto;

                img { width: 100%; }

                &:hover {
                    transition: all .3s ease-in;
                    transform: scale(1.1);
                }
            }
        }


        p {
            text-transform: uppercase;
        }

        form {
            width: 30em;
            margin: 5em auto;
        }
    }
}

//Forms
input[type=text], input[type=email] {
    outline: none;
    border: 1px solid $secondary;
    background-color: transparent;
    line-height: 2.5em;
    height: 2.5em;
    padding: 0 .7em;
    font-size: 1em;
    color: white;

    &:focus {
        border-color: white;
    }
}

button {
    background-color: $primary;
    color: white;
    border: 1px solid $primary;
    line-height: 2.5em;
    height: 2.5em;
    padding: 0 .7em;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Futura, 'Trebuchet MS', sans-serif;

    &:hover {
        border: 1px solid white
    }
}
