@charset "utf-8";

@import "lib/normalize-css/normalize";
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

$mobile: new-breakpoint(max-width 480px 1);
$narrow: new-breakpoint(max-width 1120px 1);

@import "components/header";
@import "components/footer";
@import "components/newsletter";
@import "components/sponsors";

@import "pages/legal";
@import "pages/sponsors";
@import "pages/speakers";
@import "pages/location";
@import "pages/homepage";
@import "pages/tickets";

// Layout
.wrapper {
  @include outer-container;
}

// Main sections
section {
  padding: 5em 0;

  h1, h2, h3 {
    margin-bottom: 2em;
  }

  .cta {
    margin-top: 2em;
  }

  &.light {
    background-color: $light-gray;
  }

  &.dark {
    background-color: $dark-gray;
    color: #fff;
  }

  &.centered {
    text-align: center;

    h1, h2, h3, h4, h5, h6 { text-align: center; }
  }

  @include media($narrow) {
    padding: 2em 1em;
  }

  @include media($mobile) {
    h1, h2, h3 {
      margin-bottom: 1em;
    }

    h2 {
      font-size: 140%;
    }
  }
}

#map {
  height: em(500px);

  @include media($mobile) {
    height: em(300px);
  }
}

// blog
.blog {
  h1 {
    margin-bottom: em(15, 18);
  }

  article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2em;
    margin-bottom: 2em;

    h1, h2 {
      margin-bottom: 0.5em;
    }

    ul {
      margin-bottom: 0.75em;
    }

    .meta {
      margin: em(20, 18) 0;
      color: $medium-gray;
      font-size: 90%;
    }
  }
}

.single-post {
  article {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }
}
