@charset "utf-8";

@import "lib/normalize-css/normalize";
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

$mobile: new-breakpoint(max-width 480px 1);

@import "components/header";
@import "components/footer";
@import "components/newsletter";
@import "components/sponsors";
@import "components/highlighted_sponsors";

@import "pages/legal";
@import "pages/sponsors";

// Layout
.wrapper {
  @include outer-container;
}

// Main sections
section {
  padding: 5em 0;

  h1, h2, h3 {
    margin-bottom: 2em;
  }

  .cta {
    margin-top: 2em;
  }

  &.light {
    background-color: $light-gray;
  }

  &.dark {
    background-color: $dark-gray;
    color: #fff;
  }

  &.centered {
    text-align: center;

    h1, h2, h3, h4, h5, h6 { text-align: center; }
  }

  @include media($mobile) {
    padding: 2em 1em;

    h1, h2, h3 {
      margin-bottom: 1em;
    }

    h2 {
      font-size: 140%;
    }
  }
}
