@charset "utf-8";

@import "lib/normalize-css/normalize";
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

@import "components/header";
@import "components/footer";
@import "components/newsletter";
@import "components/sponsors";

// Layout
.wrapper {
  @include outer-container;
}

// Main sections
section {
  padding: 5em 0;

  h1, h2, h3 {
    margin-bottom: 2em;
    text-align: center;
  }

  .cta {
    margin-top: 2em;
  }

  &.light {
    background-color: $light-gray;
  }

  &.dark {
    background-color: $dark-gray;
    color: #fff;
  }

  &.centered {
    text-align: center;
  }
}


