.footer {
  min-height: 20em;
  background-color: $dark-gray;
  color: #fff;

  a {
    color: $red;

    &:hover {
      color: #fff;
    }
  }

  .col {
    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(1);
      margin-bottom: .5em;
      text-align: center;
    }
  }

  .highlighted-sponsors {
    @include span-columns(6);

    h6 {
      margin-bottom: 2.5em;
    }

    .unicorn-list {
      .sponsor {
        @include span-columns(2 of 8);

        a {
          img { transition: all .2s ease-in-out; }
          &:hover img { transform: scale(1.1); }
        }
      }
    }
  }

}
