.header {
  overflow: hidden;
  padding: 1em 0 .8em 0;
  background-color: $dark-gray;
  background-image:
    linear-gradient(rgba(43, 52, 60, 0.9), rgba(43, 52, 60, 0.9)),
    url('/images/header-background-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;

  .logo {
    display: block;
    float: left;
    color: #fff;

    img {
      display: block;
      float: left;
      transition: all .2s ease-in-out;
    }

    .summary {
      display: block;
      float: left;
      margin-left: 1em;
      margin-top: 2em;
      font-size: 90%;

      em {
        font-family: $heading-font-family;
        font-size: 150%;
        text-transform: uppercase;
        font-style: normal;
      }
    }

    &:hover {
      img { transform: scale(1.05); }
    }
  }

  nav {
    float: right;
    margin-top: 2.5em;

    a {
      display: inline-block;
      margin-right: em(40px);
      font-family: $heading-font-family;
      text-transform: uppercase;
      color: #fff;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.text-page {
  h1, h2, h3, h4, h5, h6 { text-align: left; }
}
