.newsletter-form {
  text-align: center;

  form {
    input {
      display: inline-block;
      width: 15em;
      margin-right: .1em;
      line-height: 1.4em;
    }

    button {
      position: relative;
      top: -2px;
      display: inline-block;
    }
  }
}
