.schedule {
  tr { display: block; }

  td, th {
    border: none;
    padding: $small-spacing;
    text-align: left;

    &:nth-child(-n+2) {
      width: 5em;
    }
  }

  thead, tfoot {
    tr {
      background-color: $dark-gray;
      color: white;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $light-gray;
    }
  }

  &:last-child {
    margin-top: 4em;
  }
}
