.sponsors-page {
  h1 { margin-bottom: 0.5em; }
}

.sponsors-block {
  margin-bottom: em(60px);

  .sponsor {
    @include outer-container;
    margin-bottom: em(40px);

    .logo {
      display: block;
      @include span-columns(3);

      img {
        width: 100%;
        border: 1px solid #ddd;
      }
    }

    .description {
      @include span-columns(9);

      h2 {
        text-align: left;
        font-size: 120%;
        margin-bottom: 0;
      }

      .url {
        display: inline-block;
        margin-bottom: em(20px);
        text-decoration: underline;
      }
    }
  }
}
