---
title: Thanks to our Puma sponsors
date: 2016/10/24
---

EuRuKo is possible only when everyone participate - attendees, speakers, organisers and of course the sponsors.
We would like to thank again our Puma sponsors for their help and support!

<p style="text-align: center;">
  <a href="https://www.fyber.com/" target="blank">
    <img src="/images/sponsors/fyber_logo.svg">
  </a>

  <a href="https://deliveroo.co.uk" target="blank">
    <img src="/images/sponsors/deliveroo_logo.svg">
  </a>

  <a href="https://www.sqreen.io/" target="blank">
    <img src="/images/sponsors/sqreen_logo.svg">
  </a>
</p>

You can also check <a href="https://twitter.com/Fyber" target="blank">@Fyber</a>, <a href="https://twitter.com/Deliveroo" target="blank">@Deliveroo</a> and <a href="https://twitter.com/SqreenIO" target="blank">@Sqreen</a> on Twitter.
