---
title: Welcome Our Emcees
date: 2016/09/12
---

Let's give a warm welcome to our two wonderful emcees!

## <a href="https://twitter.com/KFMolli">Monica Giambitto</a>

<%= image_tag '2016-09-12-welcome-our-emcees/monica.jpeg', class: 'mc' %>

Backend engineer at Freeletics in love with Ruby elegance and simplicity since
2011. Passionate about testing, the people side of our industry, and building
bridges between engineers and the business people. Rails Girls coach,
tweeting as <a href="https://twitter.com/KFMolli">@KFMolli</a>.

<div class="clearfix"></div>

## <a href="https://github.com/valo">Valentin Mihov</a>

<%= image_tag '2016-09-12-welcome-our-emcees/valo.jpeg', class: 'mc' %>

<a href="https://github.com/valo">Valentin</a> started programming in high school
and participated in algorithm competitions. One thing led to another and he
ended up doing Ruby for pleasure and profit for the last 8 years. Apart from
the regular backend stuff, he has been involved in several machine learning and
performance projects. He really enjoys peeking under the hood and making things
faster.
