<section class="highlighted-sponsors">
  <div class="wrapper">
    <%= link_to image_tag('sponsors/receipt_bank_logo_footer.svg'), 'http://receipt-bank.com', target: '_blank' %>
  </div>
</section>

<section class="footer">
  <div class="wrapper">
    <div class="col">
      <h6>EuRuKo 2016</h6>

      <p class="text-muted">
        23 – 24 September<br>
        Sofia, Bulgaria
      </p>
    </div>
    <div class="col">
      <h6>Information</h6>

      <ul>
        <li><%= link_to 'Code of Conduct', 'http://berlincodeofconduct.org/', target: '_blank' %></li>
        <li><%= link_to 'Previous Events', 'http://euruko.org/', target: '_blank' %></li>
      </ul>
    </div>
    <div class="col">
      &nbsp;
    </div>
    <div class="col">
      <h6>Contacts</h6>

      <ul>
        <li><a href="mailto:hi@euruko2016.org">hi@euruko2016.org</a></li>
        <li><a href="https://twitter.com/euruko">@euruko</a></li>
        <li> <%= link_to 'Legal Information', '/legal-information.html' %></li>
      </ul>
    </div>
  </div>
</section>
