<section class="footer">
  <div class="wrapper">
    <div class="col">
      <h6>EuRuKo 2016</h6>

      <p class="text-muted">
        23 – 24 September<br>
        Sofia, Bulgaria
      </p>
    </div>
    <div class="col">
      <h6>Information</h6>

      <ul>
        <li><%= link_to 'Code of Conduct', '/code-of-conduct.html' %></li>
        <li><a href="#">History of Euruko</a></li>
      </ul>
    </div>
    <div class="col">
      &nbsp;
    </div>
    <div class="col">
      <h6>Contacts</h6>

      <ul>
        <li><a href="#">hi@euruko2016.org</a></li>
        <li><a href="#">@euruko</a></li>
      </ul>
    </div>
  </div>
</section>
