<div class="header">
  <div class="wrapper">
    <a href="/" class="logo">
      <%= image_tag('images/logo-small.svg') %>
      <span class="summary">
        <em>Euruko 2016</em><br>23 – 24 September, Sofia
      </span>
    </a>

    <%= partial 'nav' %>
  </div>
</div>
