<nav class="main-nav">
  <%= link_to 'Location', '/location' %>
  <%= link_to 'Speakers', '/speakers' %>
  <%= link_to 'Sponsors', '/sponsors' %>
  <%= link_to 'Tickets', '/sponsors', class: 'btn' %>
</nav>
