<nav class="main-nav">
  <%= link_to 'Location', '/location.html' %>
  <%= link_to 'Speakers', '/speakers.html' %>
  <%= link_to 'Sponsors', '/sponsors.html' %>
  <%= link_to 'Tickets', '/sponsors.html', class: 'btn' %>
</nav>
