<nav>
  <%= link_to 'Call for Speakers', '/#call-for-speakers', class: 'double' %>
  <h1 class="logo"><%= link_to 'Euruko 2016', '/' %></h1>
  <%= link_to 'Sponsors', '/sponsors.html', class: 'double' %>
</nav>
