<nav>
  <%= link_to 'Call for Speakers', '/call-for-papers.html', class: 'double' %>
  <h1 class="logo"><%= link_to 'Euruko 2016', '/' %></h1>
  <%= link_to 'Call for Sponsors', '/sponsorship-packages.html', class: 'double' %>
</nav>
