---
title: Company details | EuRuKo 2016 - 23-24 September, Sofia
---

<div class="header">
  <%= partial 'nav' %>
</div>

<section class="centered">
  <div class="wrapper">
    CEO: Svetlozar Todorov<br>
    Address: Banat 3, apartment 3, 1407 Sofia, Bulgariа
  </div>
</section>

<%= partial 'footer' %>
