---
title: Homepage - EuRuKo 2016 - Sofia, Bulgaria
---

<section class="intro">
  <a class="logo" href="/">
    <%= image_tag "logo.svg" %>
  </a>

  <p>
    EuRuKo is an annual Ruby Conference in Europe.<br>
    Visit Sofia, Bulgaria on September 23—24, 2016.
  </p>

  <form action="//euruko2016.us12.list-manage.com/subscribe/post?u=50aaef8c1c7bbeafe0d6466fd&amp;id=3cac005cb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@awesome.conf">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50aaef8c1c7bbeafe0d6466fd_3cac005cb6" tabindex="-1" value=""></div>
    <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
  </form>

  <div class="overlay"></div>

  <footer class="intro-social">
    <ul>
      <li>
        <a href="https://twitter.com/euruko"><i class="ion-social-twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/euruko"><i class="ion-social-github"></i></a>
      </li>
    </ul>

    <p>Contact us at <a href="mailto:hi@euruko2016.org">hi@euruko2016.org</a></p>
  </footer>
</section>
