---
layout: splash
title: Homepage - EuRuKo 2016 - Sofia, Bulgaria
---

<div class="header">
  <%= partial 'nav' %>

  <p class="intro">
    EURUKO IS AN ANNUAL RUBY CONFERENCE IN EUROPE.<br>
    VISIT SOFIA, BULGARIA ON SEPTEMBER 23—24, 2016.
  </p>
</div>

<section id="call-for-papers" class="centered">
  <div class="wrapper">
    <h2>Call for papers</h2>
    <p>
      From junior to grandmaster - everyone is welcome!<br>
      You don't have to be a seasoned pro in order to delve into an interesting topic and share what you've learned. But if you are one of the masters, then your expertise and vast experience can be both insightful, and inspiring to the community.<br>
      Cast all self-doubt and hesitation aside and make sure you apply!
    </p>

    <div class="cta">
      <a class="btn" href="https://docs.google.com/a/euruko2016.org/forms/d/1jGbFSi8hl06lp-qYhePTn4P5NIg4cZkrtM4vdGYMVck/viewform" target="_blank">Submit your talk</a>
    </div>
  </div>
</section>

<section id="call-for-sponsors" class="dark centered sponsors">
  <div class="wrapper">
    <h2>Become a sponsor</h2>
    <p>
      Provide us with the opportunity to keep the tradition of making Euruko an unforgettable experience for the community!<br>
      Take the chance of making your voice heard, of reaching out to a global audience of talented developers, and presenting them your ideas.<br>
      Review our sponsor packages and contact us!
    </p>

    <div class="cta">
      <%= link_to 'Sponsorship Packages', '/sponsorship-packages.html', class: 'btn' %>
    </div>
  </div>
</section>

<section class="light newsletter">
  <div class="wrapper">
    <h2>Subscribe for news</h2>

    <form action="//euruko2016.us12.list-manage.com/subscribe/post?u=50aaef8c1c7bbeafe0d6466fd&amp;id=3cac005cb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@awesome.conf">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50aaef8c1c7bbeafe0d6466fd_3cac005cb6" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
    </form>
  </div>
</section>

<%= partial 'footer' %>
