---
title: Legal | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section class="legal-information">
  <div class="wrapper">
    <h1>General Information</h1>
    <p>
      EuRuKo is a Ruby conference that travels across Europe.<br>
      It's organized by a team of volunteers, who dedicate their time to making EuRuKo a memorable event for the Ruby community.
    </p>

    <h3>Team (2016)</h3>

    <ul>
      <li>Svetlozar Todorov <br> <a href="mailto:todorov@euruko2016.org">todorov@euruko2016.org</a></li>
      <li>Genadi Samokovarov <br> <a href="mailto:genadi@euruko2016.org">genadi@euruko2016.org</a></li>
      <li>Svetlozar Mihailov <br> <a href="mailto:mihailov@euruko2016.org">mihailov@euruko2016.org</a></li>
      <li>Vestimir Markov <br> <a href="mailto:vestimir@euruko2016.org">vestimir@euruko2016.org</a></li>
    </ul>
    <br><br>

    <h3>Legal Information</h3>
    <p>EuRuKo 2016 is represented by the following entity:</p>

    <p class="company-details">
      <strong>EURUKO 2016</strong><br>
      <br>
      <strong>VAT:</strong> BG203844519<br>
      <strong>Street address:</strong> Banat 3, floor 1, apartment 3<br>
      <strong>City:</strong> Sofia<br>
      <strong>Postal code:</strong> 1407<br>
      <strong>Country:</strong> Bulgaria<br>
      <strong>Representative:</strong> Svetlozar Todorov
    </p>
    <br><br>

    <h3>Need more info?</h3>
    <p>If you want to know more, or just to say “Hi” – <a href="mailto:hi@euruko2016.org">hi@euruko2016.org</a></p>

    <h3>Want to sponsor EURUKO?</h3>
    <p>
      Help us make the event an unforgettable experience for the community, and reach an international crowd of talented developers
      <br><br>
      See the <a href="/sponsorship-packages">sponsorship opportunities</a> or contact us at <a href="mailto:sponsors@euruko2016.org">sponsors@euruko2016.org</a>.
    </p>
  </div>
</section>

<%= partial 'footer' %>
