---
title: Sponsors | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section id="call-for-speakers" class="centered">
  <div class="wrapper">
    <h2>Call for speakers</h2>
    <p>
      The call for speakers is now closed.
    </p>
    <p>
      Thanks to everyone who submitted a session! Selected Speakers will be notified in May.
    </p>
    <p>
      Stay tuned for updates!
    </p>
  </div>
</section>

<%= partial 'footer' %>
