---
title: Speakers | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h1>Speakers</h1>

    <div class="speakers-list">
      <div class="speaker">
        <%= image_tag 'speakers/matz.jpg' %>
        <h3>Yukihiro "Matz" Matsumoto</h3>
        <p>Yukihiro “Matz” Matsumoto is the mastermind behind the inception of Ruby. Since 1993 he has been designing our precious jewel up to its current version. Meanwhile he has been working on mruby, a lightweight Ruby implementation.</p>
      </div>
    </div>
  </div>
</section>

<section class="light">
  <%= partial 'newsletter' %>
</section>

<%= partial 'footer' %>
