---
title: Speakers | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h1>Speakers</h1>

    <div class="speakers-list">
      <div class="speaker">
        <%= image_tag 'speakers/matz.jpg' %>
        <h3>Yukihiro "Matz" Matsumoto</h3>
        <p>Yukihiro “Matz” Matsumoto is the mastermind behind the inception of Ruby. Since 1993 he has been designing our precious jewel up to its current version. Meanwhile he has been working on mruby, a lightweight Ruby implementation.</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="newsletter-form">
    <h4>We'll be announcing more speakers in May. </h4>
    <p>Stay tuned for updates!</p>

    <form action="//euruko2016.us12.list-manage.com/subscribe/post?u=50aaef8c1c7bbeafe0d6466fd&amp;id=3cac005cb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@awesome.conf">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50aaef8c1c7bbeafe0d6466fd_3cac005cb6" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
    </form>
  </div>
</section>

<%= partial 'footer' %>
