---
title: Sponsors
---

<%= partial 'header' %>

<section class="centered">
  <div class="wrapper">
    <h2>Become a sponsor</h2>
    <p>Amet vitae vel voluptates assumenda eaque totam illum quibusdam esse fuga? Asperiores officiis laborum corporis quo modi eius necessitatibus ea accusantium? Autem alias vel quia accusantium porro quo exercitationem. Atque.</p>

    <div class="cta">
      <%= link_to 'See our Sponsorship Packages', '/sponsorship-packages.html', class: 'btn' %>
    </div>
  </div>
</section>

<%= partial 'footer' %>

