---
title: Sponsors
---

<div class="header full-header sponsors">
  <%= partial 'nav' %>

  <div class="wrapper">
    <h2>Become a sponsor</h2>
    <p>Amet vitae vel voluptates assumenda eaque totam illum quibusdam esse fuga? Asperiores officiis laborum corporis quo modi eius necessitatibus ea accusantium? Autem alias vel quia accusantium porro quo exercitationem. Atque.</p>

    <div class="cta">
      <a class="btn" href="#">Download PDF</a>
    </div>
  </div>
</div>

<section class="comparison-table centered">
  <div class="wrapper">
    <h2>Sponsorship Packages</h2>

    <table class="sponsors-packages">
      <thead>
        <tr>
          <th class="benefits-title">Benefits</th>
          <th><span class="text-accent">Webrick</span><br>&euro; 2000</th>
          <th><span class="text-accent">Pow</span><br>&euro; 5000</th>
          <th><span class="text-accent">Puma</span><br>&euro; 7000</th>
          <th><span class="text-accent">Unicorn</span><br>&euro; 9000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Your logo and company description (100 words) in the dedicated Sponsors page</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Your logo on the conference badges</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Your logo on the dedicated Sponsors page in the conference booklet</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Twitter promotion - we will announce your company sponsorship in 3 tweets</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Conference Passes</td>
          <td><span class="included details">1</span></td>
          <td><span class="included details">2</span></td>
          <td><span class="included details">3</span></td>
          <td><span class="included details">5</span></td>
        </tr>
        <tr>
          <td>Items inserted in the attendee goodie bag</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included details">1</span></td>
          <td><span class="included details">2</span></td>
          <td><span class="included details">3</span></td>
        </tr>
        <tr>
          <td>Company mention in a thank you post on the blog</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Dedicated “Thank you” blog post</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Text link included in the footer of all attendees emails</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Monochrome company logo included in the footer of all attendees emails</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Highlighted logo placed in the footer of the conference website</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Your swag on a shared table near the registration table</td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Dedicated slide during conference breaks</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="addon">+ &euro;500</td>
          <td><span class="addon">+ &euro;500</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Logo on sponsors slide in post-conference videos of the talks</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Dedicated slide in post-conference videos of the talks</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>1 Rollup banner at the Sponsors Hall</td>
          <td><span class="addon">+ &euro;750</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="addon">+ &euro;750</span></td>
          <td><span class="addon">+ &euro;750</span></td>
        </tr>
        <tr>
          <td>2 Rollup banners in the Sponsors Hall next to your table</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>1 Rollup banner on the Main stage</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Exhibit Space</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included details">Table (2x2) - we provide it</span></td>
          <td><span class="included details">Booth (3x3)</span></td>
        </tr>
        <tr>
          <td>Half page in the conference booklet (at your provision)</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Full page in the conference booklet (at your provision)</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Exibit space addons:</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Table (2x2)</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="addon">+ &euro;3000</span></td>
          <td><span class="included details">space included</span></td>
          <td><span class="included details">space included</span></td>
        </tr>
        <tr>
          <td>Shared Table (1 baner, half table)</td>
          <td><span class="addon">+ &euro;1500</span></td>
          <td><span class="addon">+ &euro;1500</span></td>
          <td><span class="included details">space included</span></td>
          <td><span class="included details">space included</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="benefits-title">VAT not included</th>
          <th><span class="text-accent">Webrick</span><br>&euro; 2000</th>
          <th><span class="text-accent">Pow</span><br>&euro; 5000</th>
          <th><span class="text-accent">Puma</span><br>&euro; 7000</th>
          <th><span class="text-accent">Unicorn</span><br>&euro; 9000</th>
        </tr>
      </tfoot>
    </table>

    <table class="sponsors-packages">
      <thead>
        <tr>
        <td>Additional options</td>
        <td></td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Conference Supporter - ticket + cool badge + twitter link in the bottom of the sponsors page - attendee only</td>
        <td><span class="addon">&euro;150</span></td>
      </tr>
      <tr>
        <td>Coffee breaks sponsorship</td>
        <td>contact us for further details</td>
      </tr>
      <tr>
        <td>Pre event party, with your marketing at the party venue</td>
        <td>contact us for further details</td>
      </tr>
      <tr>
        <td>Post event party, with your marketing at the party venue</td>
        <td>contact us for further details</td>
      </tr>
      </tbody>
      <tfoot><tr><td></td><td></td></tr></tfoot>
    </table>
  </div>
</section>

<%= partial 'footer' %>

