---
title: Call for Sponsors | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section class="centered light">
  <div class="wrapper">
    <h2>Call for sponsors</h2>
    <p>
      By supporting EuRuKo you help us make the event an unforgettable experience for the community. <br>
      As a sponsor you get the opportunity to reach an international crowd of talented developers. <br>
      Review our packages and learn how your company can benefit from sponsoring the event.
    </p>

    <div class="cta">
      <a class="btn" href="/files/sponsorship_packages.pdf" target="_blank">View prospectus</a>
    </div>
  </div>
</section>

<section class="comparison-table centered">
  <div class="wrapper">
    <h2>Sponsorship Packages</h2>

    <table class="sponsors-packages">
      <thead>
        <tr>
          <th class="benefits-title">Benefits</th>
          <th><span class="text-accent">Webrick</span><br>&euro; 2000</th>
          <th><span class="text-accent">Pow</span><br>&euro; 5000</th>
          <th><span class="text-accent">Puma</span><br>&euro; 7000</th>
          <th><span class="text-accent">Unicorn</span><br>&euro; 9000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Exhibit Space</td>
          <td><span class="addon">Half table<br>+&euro;1500</span></td>
          <td><span class="addon">From<br>&euro;1500</span></td>
          <td><span class="included details">Table (2x2m)</span></td>
          <td><span class="included details">Booth (3x3m)</span></td>
        </tr>
        <tr>
          <td>Rollup banner in Sponsors Hall</td>
          <td><span class="addon">+&euro;750</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included details">Main Stage</span></td>
        </tr>
        <tr>
          <td>Your swag on a shared table near the registration table</td>
          <td><span class="included">✓</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
        </tr>
        <tr>
          <td>Goodie bag inserts</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included details">1 item</span></td>
          <td><span class="included details">2 items</span></td>
          <td><span class="included details">3 items</span></td>
        </tr>
        <tr>
          <td>Your logo on the conference badges</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Your logo on the dedicated Sponsors page in the conference booklet</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included details">+Half page</span></td>
          <td><span class="included details">+Full page</span></td>
        </tr>
        <tr>
          <td>Logo on sponsors slide in post-conference videos of the talks</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Dedicated slide during conference breaks</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="addon">+&euro;500</td>
          <td><span class="addon">+&euro;500</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Link included in the footer of all conference emails</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included details">Highlighted logo</span></td>
        </tr>
        <tr>
          <td>Your logo and company description in the dedicated Sponsors page</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Twitter promotion - we will announce your company sponsorship in 3 tweets</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Company mention in a “Thank you” blog post </td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included details">Dedicated post</span></td>
          <td><span class="included details">Dedicated post</span></td>
        </tr>
        <tr>
          <td>Conference Passes</td>
          <td><span class="included details">1</span></td>
          <td><span class="included details">2</span></td>
          <td><span class="included details">3</span></td>
          <td><span class="included details">5</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="benefits-title">VAT not included</th>
          <th><span class="text-accent">Webrick</span><br>&euro; 2000</th>
          <th><span class="text-accent">Pow</span><br>&euro; 5000</th>
          <th><span class="text-accent">Puma</span><br>&euro; 7000</th>
          <th><span class="text-accent">Unicorn</span><br>&euro; 9000</th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>

<%= partial 'footer' %>
