---
title: Sponsors
---

<div class="header full-header sponsors">
  <%= partial 'nav' %>

  <div class="wrapper">
    <h2>Become a sponsor</h2>
    <p>Amet vitae vel voluptates assumenda eaque totam illum quibusdam esse fuga? Asperiores officiis laborum corporis quo modi eius necessitatibus ea accusantium? Autem alias vel quia accusantium porro quo exercitationem. Atque.</p>

    <div class="cta">
      <a class="btn" href="#">Download PDF</a>
    </div>
  </div>
</div>

<section class="comparison-table centered">
  <div class="wrapper">
    <h2>Sponsorship Packages</h2>

    <table class="sponsors-packages">
      <thead>
        <tr>
          <th class="benefits-title">Benefits</th>
          <th><span class="text-accent">Webrick</span><br>2000&euro;</th>
          <th><span class="text-accent">Pow</span><br>5000&euro;</th>
          <th><span class="text-accent">Puma</span><br>7000&euro;</th>
          <th><span class="text-accent">Unicorn</span><br>9000&euro;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Your logo and company description (100 words) in the dedicated Sponsors page</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Your logo on the dedicated Sponsors page in the conference booklet</td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Text link included in the footer of all attendees emails</td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included">✓</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Company mention in a thank you post on the blog about our Webrick sponsors</td>
          <td><span class="addon">+ &euro;750</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included details">Dedicated</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>Twitter promotion - we will announce your company sponsorship in 3 tweets</td>
          <td><span class="addon">+ &euro;750</span></td>
          <td><span class="not-included">&times;</span></td>
          <td><span class="included details">Dedicated</span></td>
          <td><span class="included">✓</span></td>
        </tr>
        <tr>
          <td>1 conference pass</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="benefits-title">VAT not included</th>
          <th><span class="text-accent">Webrick</span><br>2000&euro;</th>
          <th><span class="text-accent">Pow</span><br>5000&euro;</th>
          <th><span class="text-accent">Puma</span><br>7000&euro;</th>
          <th><span class="text-accent">Unicorn</span><br>9000&euro;</th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>

<%= partial 'footer' %>

