---
title: Tickets | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h1>Tickets</h1>
    Oops, we need to fix something real quick. We will be back shortly. Please, try visiting this page again after 16:30 CET.
  </div>
</section>

<%= partial 'footer' %>
