---
title: Tickets | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h1>Tickets</h1>
    <script src="https://cdn.weemss.com/compiled/js/integration-embed.js?v68"></script><iframe src="https://event.gg/2845/form/2839" id="weemss_integration_2839" frameBorder="0" width="100%" height="450" scrolling="no"></iframe>
  </div>
</section>

<%= partial 'footer' %>
